<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tomtaila.chess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chess_launcher_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:debuggable="false">
        <activity
            android:name="tomtaila.chess.menu.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tomtaila.chess.game.GameActivity"></activity>
        <activity android:name="tomtaila.chess.game.NewGameActivity"></activity>
    </application>

</manifest>
